# Xcode user data
xcuserdata/
*.xcuserstate
*.xcuserdatad/

# macOS
.DS_Store

# Swift Package Manager
.build/
DerivedData/

# SwiftPM user-specific config
.swiftpm/xcode/package.xcworkspace/xcuserdata/
.swiftpm/xcode/xcuserdata/
.swiftpm/configuration/
